/* my stylesheet */
H1 {
  color: blue;
}
IMG {
  width:300px;
}
UL {
  font-size: 30pt;
}
/* rotating an image */
.rotateimg180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
